//
// Typography
// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss for the full list of variables

$link-color: $blue-200;
$btn-primary-color: $blue-300;
$base-button-color: #f7f7f7 !default;
