//
// Typography
// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss for the full list of variables

$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;

$link-color: $blue-200;
$btn-primary-color: $blue-300;
$base-button-color: #f7f7f7 !default;
